mixin featurette(title,src,url)
  .md_grid.grid-cols-2.gap-4.my-8
    .order-1
      h2.text-2xl.font-bold.text-indigo-600.mb-2
        | #{title}
      block

    .order-2
      a(href=url)
        img.mx-auto(width='500' height='500' src=src aria-label='Framework logo')

mixin featurette-alt(title,src,url)
  .md_grid.grid-cols-2.gap-4.my-8
    .order-2
      h2.text-2xl.font-bold.text-indigo-600.mb-2
        | #{title}
      block

    .order-1
      a(href=url)
        img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' src=src aria-label='Framework logo')

