mixin featurette(title,src,url)
  .row.featurette
    .col-md-7
      h2.featurette-heading
        | #{title}
      block

    .col-md-5
      a(href=url)
        img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' src=src aria-label='Framework logo')

mixin featurette-alt(title,src,url)
  .row.featurette
    .col-md-7.order-md-2
      h2.featurette-heading
        | #{title}
      block

    .col-md-5.order-md-1
      a(href=url)
        img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width='500' height='500' src=src aria-label='Framework logo')

